<mat-card>
   <mat-card-header>
      <mat-card-title>Crear un Producto</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <form class="product-form" novalidate [formGroup]="form" (ngSubmit)="createProduct()">
         <mat-form-field>
            <input placeholder="Escriba el nombre" matInput type="text" formControlName="title">
         </mat-form-field>
         <div *ngIf="titleField.errors && titleField.dirty">
             <p *ngIf="titleField.hasError('required')">El campo es obligatorio</p>
         </div>
         <mat-form-field>
            <input type="file" formControlName="image">
         </mat-form-field>
         <mat-form-field>
            <input placeholder="Introduzca Precio" matInput type="number" formControlName="price">
         </mat-form-field>
         <mat-form-field>
            <textarea matInput placeholder="Escriba el Texto" formControlName="text"></textarea>
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="createProduct()" type="button" [disabled]="form.invalid">Crear Producto</button>
   </mat-card-actions>
</mat-card>
